.createSecretaryAccount__info {
  width: 100%;
  margin-bottom: 10px !important;
}

.createSecretaryAccount__createButton {
  text-transform: inherit !important;
}

.box {
  width: 100% !important;
}

.createSecretaryAccount__setAdminButton {
  margin-bottom: 20px !important;
  text-transform: inherit !important;
}

@media only screen and (max-width: 600px) {
  .createSecretaryAccount__info {
    width: 100% !important;
  }
}
